@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
 
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
a{
    text-decoration: none;
    color: #222222;
}

.center{
    text-align: center;
    
}
.mx-auto{
    margin: 0 auto;
}

.text-right
{
    text-align: right;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.red{
    color: #EC2232;
}
.relative{
    position: relative;
}

.mt-5{
    margin-top: 20px;
}
img{
    max-width: 100%;
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.footer{
    background-color: #181818;
    color: #fff;
}

.cols-span-2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.footer-flexc{
display: flex;
justify-content: space-between;
margin: 20px;
}

.footer-he{
    font-size: 22px;
}

.mb-5{
    margin-bottom: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}