.banner{
    height: 95vh;
    width: 100%;
    background: url('./../images/hero.jpg');
    background-position:center;
    background-size: cover;
    margin-top: 10px;
}

.hero-heading{
    font-size: 40px;
    color: #fff;
    padding-top: 130px;
    padding-left: 90px;
}